Q1. Write all the conventions being followed while declaring a variable.
- Conventions followed while declaring a variables are-
  i) It can't start with any number.
  ii)It can't contain any special character except underscore(only Alpha-Numeric).
  iii)It is case sensitive.

In [1]:
#e.g:
Var_iable=5

In [10]:
0ram=3 
#will throw error-syntax error

<class 'SyntaxError'>: invalid decimal literal (<ipython-input-10-c6f23d573441>, line 1)

In [3]:
var_iable=3

In [6]:
Var_iable

5

In [7]:
var_iable

3

Q2. What will happen if we declare a restricted keyword as a variable?
- It will generate a compile time error and code will not be executed.

In [11]:
if=6
#will throw syntax error on compile time

<class 'SyntaxError'>: invalid syntax (<ipython-input-11-140485d3b923>, line 1)

Q3. Can we actually declare a string as a variable name?
- There are many methods to declare a string as a variable name.
    e.g., vars()[string_name]

In [20]:
string='key'
vars()[string]=5
key

5

Q4. Is it possible for us to declare “_” as a variable? If so, then write an example of it.
- As from convention of writing variable we can declare "_"as a variable generally.
e.g., _ =3

In [15]:
_=5

In [16]:
_

5

Q5. Using an example, explain how the variables in python are dynamic in nature.
-   a=5 #here 'a' is initialised as int
    a=3.5 #now it changed to float

In [26]:
a=5
printf(type(a))
a=3.5
printf(type(a))

<class 'NameError'>: name 'printf' is not defined

In [22]:
type(a)

int

In [25]:
a=5
b=char(a)

<class 'NameError'>: name 'char' is not defined