Q1)How can we store a single quote (‘) as a string in a var1able?

In [6]:
string="'"

In [7]:
string

"'"

Q2) Refer the below variable:
x = 'a'
Here, Is x a character type or string type variable? Support your answer with an explanat1on.
- Here x is a string type because python don't have character data type.

In [10]:
x='a'
type(x)

str

Q3) Apply the following funct1ons on this var1able: ‘'Welcome to Python foundation course'
i) f1nd()
ii)count()
iii)len()
iv)Concatenat1on
Note: You can use your cho1ce of parameters, But make sure It is correct.

In [58]:
str1='Welcome to Python foundation course'

In [59]:
str1.find('Python')

11

In [60]:
str1.count('o')

6

In [61]:
len(str1)

35

In [18]:
st=', Shivam'

In [62]:
str1+st #concatenation

'Welcome to Python foundation course, Shivam'

Q4) For the var1able word= 'PanaJi@12256'
Calculate the follow1ng:
(a) Total number of alphabets in lowercase
(b) Total number of alphabets in uppercase
(c) Total number of numerical in str1ng

In [21]:
word='PanaJi@12256'

In [49]:
count=0
for x in word:
    if(x.islower()==True):
        count+=1
print('Total number of alphabets in lowercase: ',count)

Total number of alphabets in lowercase:  4

In [50]:
count=0
for x in word:
    if(x.isupper()==True):
        count+=1
count
print('Total number of alphabets in uppercase: ',count)

Total number of alphabets in uppercase:  2

In [53]:
count=0
for x in word:
    if(x.isdigit()==True):
        count+=1
print('Total number of numerical in string: ',count)

Total number of numerical in string:  5

Q5) Write a code to store a numerical value inside a variable then convert it into string?

In [1]:
num=5
str(num)

'5'